 #rubiks-menu {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 10;
        background: rgba(204, 94, 94, 0.85);
        padding: 12px;
        border-radius:8px;
        font-family: sans-serif;
      }
      #rubiks-menu button { margin: 2px 4px; padding: 6px 12px; border-radius: 5px; border: none; background: #6a95ff; color: white; font-weight: bold; cursor: pointer;}
      #rubiks-menu button:hover { background: #4562b5;}
    